
<hr>

<div>
<center>
    EMSE 4575: Exploratory Data Analysis (Spring 2021)
    <br>
    <i class="far fa-calendar-alt"></i> Wednesdays |
    <i class="far fa-clock"></i> 12:45 - 3:15 PM |
    <a href="https://www.jhelvy.com"><i class="fas fa-user"></i> Dr. John Paul Helveston</a> |
    <a href="mailto:jph@gwu.edu"><i class="fas fa-envelope"></i> jph@gwu.edu</a> |
    <a href="https://github.com/emse-eda-gwu/2021-Spring"><i class="fab fa-github"></i></a>
    <br>
    <a href="LICENSE.html">LICENSE: CC-BY-SA <i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-sa"></i></a>
</center>
</div>

<!-- Add function to open links to external links in new tab, from: -->
<!-- https://yihui.name/en/2018/09/target-blank/ -->

<script src="js/external-link.js"></script>
